In [1]:
import pandas as pd

In [4]:
df_pokemon = pd.read_csv("data/pokemon.csv")

In [55]:
df_pokemon.groupby("Legendary").mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,
False,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
True,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231

In [68]:
df_pokemon[['Type 1', 'Legendary', 'Attack']].groupby(["Type 1", "Legendary"]).mean()

                        Attack
Type 1   Legendary
Bug      False       70.971014
Dark     False       86.862069
         True       110.500000
Dragon   False      103.400000
         True       126.666667
Electric False       66.125000
         True        98.750000
Fairy    False       57.187500
         True       131.000000
Fighting False       96.777778
Fire     False       82.191489
         True       109.000000
Flying   False       50.000000
         True       107.500000
Ghost    False       71.366667
         True       110.000000
Grass    False       72.119403
         True        97.666667
Ground   False       88.000000
         True       150.000000
Ice      False       73.227273
         True        67.500000
Normal   False       72.083333
         True       140.000000
Poison   False       74.678571
Psychic  False       54.953488
         True       122.142857
Rock     False       89.925000
         True       122.250000
Steel    False       92.086957
         True        96.250000
Water    False       72.777778
         True       111.250000