In [46]:
## Import statement
import pandas as pd

In [48]:
## Turning this into a dataframe
df_ec = pd.DataFrame(ec_data)
df_ec

      county  population  economic_connectedness
0         SF      870044                    1.31
1   New York     1632480                    0.83
2  Salt Lake      200133                    0.96

In [52]:
height = [70, 65, 72, 64, 65, 68, 71]
eye_color = ['blue', 'brown', 'brown', 'green', 'blue', 'brown', 'green']

In [56]:
new_dict = {'height': height, 'eye_color': eye_color}
new_dict

{'height': [70, 65, 72, 64, 65, 68, 71],
 'eye_color': ['blue', 'brown', 'brown', 'green', 'blue', 'brown', 'green']}

In [63]:
df_new = pd.DataFrame(new_dict)
df_new

   height eye_color
0      70      blue
1      65     brown
2      72     brown
3      64     green
4      65      blue
5      68     brown
6      71     green

In [79]:
df_new['eye_color']

0     blue
1    brown
2    brown
3    green
4     blue
5    brown
6    green
Name: eye_color, dtype: object

In [83]:
df_ec['county']

0           SF
1     New York
2    Salt Lake
Name: county, dtype: object